
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Custom Helper Classes
@import "helpers/generic";
@import "helpers/spacing/margin";
@import "helpers/spacing/padding";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Datatables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

// Dump
#passwords-table {
	th {
		text-align: center;
	}
	td {
		text-align: center;
	}
}

#show-password-modal {
	.modal-body {
		padding: 75px;
		p.lead {
			margin-bottom: 0px;
		}
	}
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}